.red {
    color : red;
    font-size: 50px;
}

#loginForm{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}

#loginForm input{
    margin: 10px 40px;
    
}

#loginForm button{
    margin: 10px 80px;
}

#loginForm h4{
    margin:20px 20px
}