<div>
    <h3 [ngClass]="{'color':'red'}">Training</h3>
    <div>
        <h3 [ngStyle]="heading">Services</h3>
    </div>
        <div>
        <ul>
            <li>
                <a routerLink="development">Development</a>
            </li>
            <li>
                <a routerLink="outsource">Outsourcing</a>
            </li>
            <li>
                <a routerLink="training">Training</a>
            </li>
        </ul>
            <router-outlet></router-outlet>
            <!--
            <app-development></app-development>
            <app-outsourcing></app-outsourcing>
            <app-training></app-training>
            -->
        </div>
    </div>